//
   Created by School on 9/3/2016.

extends layout
block content
    div.col-sm-3.challeneges
        p Here is where any current challenges will be listed

    div.col-sm-3.current_recommended
        p This is where any current reads are.
        p as well as current shelves (not the wishlist)
    div.col-sm-2
        p Friends reading the same book