//
   Created by School on 9/14/2016.
block navbar
    nav.navbar.navbar-default
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Lib
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/borrowers') Borrowers

                    li
                        a(href='/lent_books') Lent Books
                    //li.dropdown
                    //    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    //        | Dropdown
                    //        span.caret
                    //    ul.dropdown-menu
                    //        li
                    //            a(href='#') Action
                    //        li
                    //            a(href='#') Another action
                    //        li
                    //            a(href='#') Something else here
                    //        li.divider(role='separator')
                    //        li
                    //            a(href='#') Separated link
                    //        li.divider(role='separator')
                    //        li
                    //            a(href='#') One more separated link
                form.navbar-form.navbar-left(action = '/my_books/search_results' method='post')
                    //will call the DB or the
                    .form-group
                        input.form-control(type='text', placeholder='Search by ISBN or Title' , name='search_param')
                    button.btn.btn-default(type='submit') Search
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Options
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/webcam') Webcam Scanner [
                                    span.glyphicon.glyphicon-camera ]

                            li
                                a(href='/borrowers') Borrowers
                            li
                                a(href='#') Something else here
                            li.divider(role='separator')
                            li
                                a(href='/about') About this App